* {
	margin: 0;
	padding: 0;
}

body {
	--light-green: #00E676;

	--z-index-page: 1;

	--border-radius: 8px;

	--transition-time: 300ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: white !important;
}
@media (prefers-color-scheme: dark) {
	body{
		background: black !important;
	}
}


/* START prevent scroll and zoom on mobile devices */
html,
body,
#root{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: hidden;
	touch-action: none;
}
/* END prevent scroll and zoom on mobile devices */


}
}



.page {
	z-index: var(--z-index-page);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	/*transition: left var(--transition-time) var(--timing-function);*/
}


	width: 400px;
	max-width: 100%;
	margin: 16px;
}

